<figure>
    <img [src]="ImageURl" alt="Balaji Vasi">
  </figure>
  <aside>
    <p>
      Hi, I'm Balaji Vasi, a senior web developer with 16 years of experience in the industry. I completed
      my Bachelor's degree at Sri Venkateswara University and have since worked on a variety of exciting
      projects.
    </p>
    <p>
      Currently, I am working on the WIC project as an Angular and .NET developer, where I have been able
      to leverage my skills in frontend and backend development to create innovative solutions for our
      clients.
    </p>
    <p>
      Previously, I had the opportunity to work with UBS on their digital transformation initiative as a
      React developer. I was also a part of the NetApp team, where I contributed as an Angular developer
      on their NextGen-Portal project.
    </p>
    <p>
      Throughout my career, I have had the pleasure of working with top-tier companies such as Neiman
      Marcus Group, Xerox, Intuit, MetLife, Autozone, and IRobot. My experience has given me a unique
      perspective on web development and allowed me to hone my skills in various technologies.
    </p>
    <p>
      I take pride in delivering high-quality work that exceeds client expectations. In my free time, I
      enjoy exploring new technologies and participating in open-source projects.</p>
    <div class="ContactBtn">
      <a routerLink="Contact"> <button id="btn"><span class="noselect">Contact Me</span><span
            id="circle"></span></button></a>
    </div>
  </aside>