<div class="slider-container">
    <div class="slider">
        <div class="slide">
            <div class="SlideData">
                <div class="project">
                    <p>Designation: Software Enginner</p>
                    <p>Mar 2021 - Present</p>
                    <p>Responsibilities:</p>
                    <ul>
                        <li>Developing high-quality, responsive, and performant web applications using Angular
                            framework.</li>
                        <li>Translating designs and wireframes into high-quality code, ensuring best practices and
                            codingstandards are followed.</li>
                        <li>Collaborating with cross-functional teams including UI/UX designers, backend developers, and
                            projectmanagers to deliver projects within the given time frame.</li>
                        <li>Identifying and addressing technical issues and bugs.</li>
                        <li>Debugging and troubleshooting issues related to the application.</li>
                        <li>Creating reusable components and modules for use across the application.</li>
                        <li>Ensuring the application is optimized for performance and scalability.</li>
                        <li>Developing stand-alone WIC application.</li>
                        <li>Creating stored procedures in Oracle.</li>
                        <li>Developing WIC mobile application.</li>
                    </ul>
                </div>
                <div class="AboutOrg">
                    <h4>GCOM Software, LLC</h4>
                    <p>Gcom Software is a software development company that provides web application
                        development,including
                        WIC application development, mobile application development, cloud services, datamanagement, and
                        analytics. They specialize in developing custom solutions for clients in variousindustries such
                        as
                        healthcare, finance, and government. Gcom Software also offers consultingservices to improve
                        technology infrastructure and business processes. With an experienced team ofprofessionals, Gcom
                        Software delivers high-quality solutions that help clients achieve their businessobjectives.</p>
                    <p>Gcom Software WIC solution sets the standard in WIC automation that helps agencies achieve
                        theirgoals. It is a proven web-based application that supports WIC staff in the mission of
                        providing
                        efficient, effective services to WIC participants. Our tailored, state-of-the-art WIC system
                        meets
                        100% of thecore requirements outlined by the USDA and provides solutions for both EBT and
                        coupon-based
                        WICenvironments.</p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="SlideData">
                <div class="project">
                    <p>Designation: Software Enginner</p>
                    <p>Aug 2018 - Mar 2021</p>
                    <p>Responsibilities:</p>
                    <ul>
                        <li>Creating ASP.NET Web Forms using VB.NET, Xamarin and Business Objects and Data AccessLayers.
                        </li>
                        <li>Developed Angular application for WIC system.</li>
                        <li>Developing responsive webforms using Bootstrap 4.0.</li>
                        <li>Developing stand-alone WIC application.</li>
                        <li>Creating stored procedures in Oracle and SQL</li>
                        <li>Developing WIC mobile application.</li>
                        <li>Developing Restful Services.</li>
                        <li>Developing SSRS Reports</li>
                    </ul>
                </div>
                <div class="AboutOrg">
                    <h4>Three Sigma Software Inc</h4>
                    <p>Three Sigma software WIC solution sets the standard in WIC automation that helps agencies
                        achievetheir goals. It is a proven web-based application that supports WIC staff in the mission
                        of providingefficient, effective services to WIC participants. Our tailored, state-of-the-art
                        WIC system meets 100%of the core requirements outlined by the USDA and provides solutions for
                        both EBT and coupon-basedWIC environments.</p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="SlideData">
                <div class="project">
                    <p>Designation: Technology Lead</p>
                    <p>Feb 2017 - Aug 2018</p>
                    <p>Responsibilities:</p>
                    <ul>
                        <li>Developed application UI using React and Redux</li>
                        <li>Tested end points with tools such as Postman and Advanced Rest Client</li>
                        <li>Worked on REST API options and POST requests</li>
                        <li>Introduced tools such as Browser Stack and mentored the development team</li>
                        <li>Collaborated with stakeholders, partners, and cross-functional teams to implement new
                            features</li>
                        <li>Served as a technical point of contact for clients and communicated technical concepts
                            effectively</li>
                        <li>Acted as a lead developer and primary technical resource for projects, ensuring
                            cross-browser functionality and accessibility compliance</li>
                    </ul>
                </div>
                <div class="AboutOrg">
                    <h4>UBS</h4>
                    <p>Digital Transformation (DT) is next generation Single Page Application (SPA) which caters
                        theclient with rich internet application, The Objective of the DT project is to redesign Home/
                        Holdings,transactions and Knowledge Center modules by converting the previous One Source pages
                        to the newlook and feel using React JS, Redux, and ES6 based V (MVC) pattern application.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<span class="prev-btn" (click)="slidePrevious()"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
<span class="next-btn" (click)="slideNext()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>