<div class="uploadTech">
    <h2>Upload Technology</h2>
    <form>
        <div class="mb-3">
            <label for="formFileSm" class="form-label">Upload Technology Image</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file" />
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
        </div>
    </form>
</div>